body{
    background-color: #E4E4EC;
}

.cabecalhoPrincipal{
    background-image: 
        linear-gradient(
            to top,
            rgba(0,0,0,0),
            rgba(47,64,123,1)
        ),
        url("../imgs/img-5.jpeg");
    width: 100%;
    height: 500px;
    padding: 20px 0;
    display: flex;

}

.cabecalhoPrincipal-titulo {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}

.cabecalhoPrincipal-titulo a {
    text-decoration: none;
    color: #ffffff;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

.cabecalhoPrincipal-nav-link {
    padding: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: none;
    text-decoration: none;
    transition: .5s;
    display: block;
}

.titulo-conteudo{
    display: flex;
    background-color: #314175;
    height: 400px;
    padding: 20px 0;
    position: relative;
    top: -100px; 
    right: 15%;
    text-align: center;
    color: #ffffff;
}

.texto-conteudo{
    display: flex;
    background-color: #ffffff;
    height: auto;
    width: 70%;
    padding: 20px 0;
    position: relative;
    top: -350px; 
    right: 0;
    left: 15%;
    justify-content: center;
    color: #000000;
}

