body {
    background-color: #E4E4EC;
    background-size: auto;
}

.logo {
    width: 70%;
    display: flex;
    justify-content: flex-start;
}

.cabecalhoPrincipal {
    background-image: linear-gradient( to top, rgba(0, 0, 0, 0), rgba(47, 64, 123, 1)), url("../imgs/img-4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
    padding: 20px 0;
    display: flex;
}

.cabecalhoPrincipal-titulo {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}

.cabecalhoPrincipal-titulo a {
    text-decoration: none;
    color: #ffffff;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.cabecalhoPrincipal-nav-link {
    padding: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: none;
    text-decoration: none;
    transition: .5s;
    display: block;
}

.titulo-conteudo {
    display: flex;
    background-color: #314175;
    height: 300px;
    padding: 30px 0 0 500px;
    position: relative;
    top: -150px;
    right: 15%;
    text-align: center;
    color: #ffffff;
}

.texto-conteudo {
    display: flex;
    background-color: #ffffff;
    height: auto;
    width: 70%;
    padding: 20px 0;
    position: relative;
    top: -300px;
    right: 0;
    left: 15%;
    justify-content: space-between;
    color: #000000;
}

::-webkit-input-placeholder {
    color: white;
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

 :-ms-input-placeholder {
    color: white;
}

.form-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d3f71;
    padding: 2vh 0 4vh 4vh;
    color: white;
}

.form-control-modified {
    color: solid white;
    background-color: #5f64a0;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid white;
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.footer-config {
    display: flex;
    background-color: #67696e;
    height: 10vh;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.footer-config span {
    margin-left: 1vw;
}

.icons-config {
    color: white;
    font-size: 4vh;
    margin-right: 2vw;
    align-items: center;
}