body {
    background-color: #ece9e9;
}

.logo {
    align-items: center;
    width: 35%;
    padding-bottom: 2vh;
}

.simbol {
    display: flex;
    justify-content: flex-start;
    width: 25%;
    padding-top: 2vh;
}

.nav {
    padding: 20px 0;
}

.li-text {
    color: rgb(36, 54, 107);
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-banner {
    background-color: rgba(36, 54, 107, 0.5);
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2px;
    padding: 2vh 0 2vh 0;
}

.container-section-1 {
    background-image: url("../imgs/fundo painel de gestao.jpg");
    background-repeat: no-repeat;
    background-size: 99vw 51vh;
    height: 50vh;
    z-index: -1;
    text-align: center;
}

.container-sub-1 {
    padding-top: 5vh;
}

.container-section-1 p,
.container-section-1 h2,
.container-section-1 h3,
.container-section-1 h4,
.container-section-1 h5 {
    color: white;
}

::-webkit-input-placeholder {
    color: white;
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

 :-ms-input-placeholder {
    color: white;
}

.form-control-modified {
    color: #fff;
    background-color: #5f64a0;
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.form-content {
    align-items: center;
    background-color: #2d3f71;
    padding: 2vh 0 2vh 0;
}

.form-content h5,
.form-content p {
    color: white;
}


/* Começando seção 2 */

.container-sec-2 {
    flex-flow: row wrap;
    display: flex;
    align-items: center;
    padding: 2vh 0 2vh 0;
    justify-content: space-around;
}

.container-sec-sub {
    display: flex;
    flex-flow: row wrap;
    flex: 8 80%;
    background-color: white;
    padding: 0 2vh 0 0;
    margin-bottom: 3vh;
    height: auto;
}

.card-image {
    order: 0;
    flex: 2 20%;
    padding-right: 2vw;
    width: 25vw;
    height: 40vh;
}

.text-content {
    order: 1;
    flex: 5 30%;
}

.btn-customized {
    float: right;
    margin-bottom: 2vh;
}

.footer-config {
    display: flex;
    background-color: #67696e;
    height: 10vh;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.footer-config span {
    margin-left: 1vw;
}

.icons-config {
    color: white;
    font-size: 4vh;
    margin-right: 2vw;
    align-items: center;
}

.ebook{
    display: flex;
    background-color: #ff944d;
    color:#4d4d4d;
    font-size: 4vh;
    margin-right: 2vw;
    align-items: center;
    padding: 1vh 2vh 2vh 2vh;
    width: 100%;
}
.ebook_download{
    display: flex;
    justify-content: center;
}